{% extends 'base.html.twig' %}

{% block page_title book.title %}

{% block page %}
    <div class="row">
        <div class="col-lg-4 text-center">
            {% cache "book-image-#{book.image}"  %}
                <img
                    src="{{ data_uri_thumbnail(book.image, 240, 380) }}"
                    class="img-fluid"
                        {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                            src: asset(book.image)
                    }) }}
                />
            {% endcache %}
        </div>

        <div class="col-lg-8">
            <h3>
                {{ book.title }}
            </h3>

            <p>
                {{ book.description }}
            </p>

            <a href="{{ path('book_add_to_cart', {'id': book.id}) }}" class="btn btn-primary">
                Add to my cart
            </a>
        </div>
    </div>
{% endblock %}
